#container{
    width: 1600px;
    margin: auto;
}
#navigation {
    width: 80%;
    height: auto;
    margin: auto;
 
    font-size: 13px;
    font-weight: 600;
    font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    display: grid;
    grid-template-columns: 15% 65% 20%;
}
#navigation img{
    width: 100%;
}

#navigation>div:nth-child(2) {
    display: flex;
    padding: 5px;
    align-items:center;
    justify-content: space-between;
}

#navigation>:last-child {
    display: flex;
    margin: auto;
}
#navigation>:last-child>div {
    margin: 5px;
}

#joinSection {
    background-color: #36b0c7;
   font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;;
    height: 500px;
}

#joinSection button {
    padding: 10px;
    background-color: black;
    color: #f0f4f6;
    border: none;
    border-radius: 3px;

}

#joinSection>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 60%;
    height: 100%;
    margin: auto;
}

#joinSection img {
    width: 100%;
}

#passSection {
    background-color: #f7e7f6;
    height: auto;
    margin: 7px;
    text-align: center;
}

#passSection button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
}


#passSection>div {
    padding: 30px;
    width: 60%;
    margin: auto;
}

#textCon {
    margin: auto;
    width: 42%;
}
#textCon span{
    color:#4396cb ;
}

#passSection img {
    width: 100%;
}

#gridSection {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

#gridSection a{
    color: #36b0c7;
    text-decoration: none;
}

#gridSection>div:nth-child(1) {
    background-color: #f0f4f6;
}

#gridSection>div:nth-child(2) {
    background-color: #f9fcfd;
}

#gridSection>div:nth-child(3) {
    background-color: black;
    color: #f0f4f6;
}

#gridSection>div:nth-child(4) {
    background-color:#d8d9db ;
}

#gridSection img {
    width: 100%;
}

#community img {
    width: 100%;
}
#community{
    position: relative;
   
   
}
#community>div{
    margin: auto;
    text-align: center;
    position: absolute;
}

#Plans {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
}

#main-container {
    background-color: #f0f4f6;
    padding: 80px;

}

#footer {
    background-color: #212432;
    color: white;

}

hr {
    margin: 0 5%;
    border: 1px solid #818485;
}

#footer>div:first-child {
    display: flex;
    padding: 70px;
    justify-content: space-evenly;

}

.footer-nav>ul li {
    margin-bottom: 10px;
}

#footer img {
    width: 60%;
}

#footer-nav:nth-child(2) {
    text-emphasis: centre;
}

#footer>div>div {
    width: 40% 60%;
}

nav {
    display: grid;
    padding-right: 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

li {
    list-style: none;
    color: rgb(164, 156, 156);
}

#credits {
    padding: 5px 5%;
}

#end {
    padding-top: 32px;
    border-top: 1px solid #3a3d4d;
    width: 100%;
    display: -webkit-box;
    display: flex;
}

#end ul {
    margin: 0rem 0rem 0rem auto;
    display: flex;
}

#end ul>li {
    margin: 5px;
}

.main {
    color: #f0f4f6;
}