#container{
    width: 1600px;
    margin: auto;
    font-size: 20px;
}
/* Navigation Bar */
#navigation {
    width: 80%;
    height: auto;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    display: grid;
    grid-template-columns: 15% 65% 20%;
}
#navigation img{
    width: 100%;
}

#navigation>div:nth-child(2) {
    display: flex;
    padding: 5px;
    align-items:center;
    justify-content: space-between;
}

#navigation>:last-child {
    display: flex;
    margin: auto;
}
#navigation>:last-child>div {
    margin: 5px;
}

/* Top section */
#Top-Section {
    background-image: linear-gradient(to right, #cde6fe,#d5d2ed , #f5e8d8);
   font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;;
    height: auto;
}

#Top-Section>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;
}

#Top-Section>div>div:nth-child(1) {
    width: 100%;
    padding-right: 40px;
     
}

#Top-Section img {
   width: 100%;
   
}

/* 2nd Top section */
#Membership-plan{
    display: grid;
    margin: 10px;
    grid-template-columns:repeat(2,1fr) ;
    gap: 10px;
    text-align: center;
    

}

#Membership-plan>div:nth-child(1){
    background-color: #edf9fc ;
    padding: 80px 180px;
}

#Membership-plan>div:nth-child(2){
    background-color: #f0f4f6 ;
    padding: 80px 180px;
}


#Membership-plan button{
    background-color: black;
    color: white;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
}
/* Table section */
#table-sec{
    width: 80%;
    margin: auto;
    height: auto;
    text-align: center;
    
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

td,th{
    text-align: center;
    padding: 10px 0 15px 0;
    border:2px solid rgb(48, 48, 65); 
   
}
#Join-btn{
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    padding: 12px 25px;
}
.cost{
    font-size: 25px;
    font-style: oblique;
}

tbody>tr>td:first-child{
    text-align: left;
   
}
/* Day Passes */
#passes{
    margin: 80px 0px;
    background-color: #f2e6f7;
    display: flex;
}
#passes>div:nth-child(1){
   padding-left: 10%;
   text-align: left;
   align-self: center;
}

#passes button{
    padding: 15px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

#passes img{
    width: 100%;
}




/* footer */
#footer {
    background-color: #212432;
    color: white;

}




hr {
    margin: 0 5%;
    border: 1px solid #818485;
}
#footer>div:first-child {
    display: flex;
    padding: 70px;
    justify-content: space-evenly;

}

.footer-nav>ul li {
    margin-bottom: 10px;
}

#footer img {
    width: 60%;
}

#footer-nav:nth-child(2) {
    text-emphasis: centre;
}

#footer>div>div {
    width: 40% 60%;
}

nav {
    display: grid;
    padding-right: 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

li {
    list-style: none;
    color: rgb(164, 156, 156);
}

#credits {
    padding: 5px 5%;
}

#end {
    padding-top: 32px;
    border-top: 1px solid #3a3d4d;
    width: 100%;
    display: -webkit-box;
    display: flex;
}

#end ul {
    margin: 0rem 0rem 0rem auto;
    display: flex;
}

#end ul>li {
    margin: 5px;
}

.main {
    color: #f0f4f6;
}